@import 'tailwindcss';

@import url('./styles/fonts.css');

::-webkit-scrollbar {
  width: 0.3vw;
}

::-webkit-scrollbar-track {
  background-color: #525761;
}

::-webkit-scrollbar-thumb {
  background-color: #dce0e6;
  border-radius: 20px;
}

::selection {
  background: #5022c2;
  color: #ffffff;
}

::-moz-selection {
  background: #5022c2;
  color: #ffffff;
}

body {
  background-color: #0e1821;
  font-family: 'SpaceGrotesk', sans-serif;
  overflow-x: hidden;
}

@layer components {
  .full-page {
    @apply h-auto w-full overflow-x-hidden px-16 py-26 md:h-dvh;
  }

  .heading {
    @apply relative text-[30px] font-bold text-white uppercase sm:text-[80px] lg:text-[130px];
  }

  .line {
    @apply absolute inset-x-0 top-0 h-1 w-full bg-[#4f22c24d];

    border-radius: 60px;
  }

  .wrap-heading {
    @apply text-wrap;
  }

  .paragraph {
    @apply text-[20px] font-semibold capitalize sm:text-[30px] lg:text-[54px];

    color: #bac1cc;
  }

  .bottom-section {
    @apply flex flex-col justify-end gap-6;
  }

  .center-section {
    @apply flex flex-col justify-center gap-27;
  }

  .center-section-no-gap {
    @apply flex flex-col justify-center;
  }

  .introduction-bg-img {
    @apply rounded-b-[60px];

    background-image: url('./assets/first-page-cover.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
