* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.full-page {
  height: 100dvh;
  width: 100%;
  padding: 104px 64px;
}

.heading {
  font-size: 180px;
  font-weight: bold;
  color: #ffffff;
}

.paragraph {
  font-size: 54px;
  font-weight: 600;
  color: #bac1cc;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 24px;
}

.introduction-bg-img {
  background-image: url("./assets/first-page-cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
