* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e1821;
}

.full-page {
  height: 100dvh;
  width: 100%;
  padding: 104px 64px;
}

.heading {
  font-size: 180px;
  font-weight: bold;
  color: #ffffff;
}

.wrap-heading {
  text-wrap: wrap;
  max-width: 950px;
}

.paragraph {
  font-size: 54px;
  font-weight: 600;
  color: #bac1cc;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 24px;
}

.center-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 108px;
}

.center-section-no-gap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introduction-bg-img {
  background-image: url("./assets/first-page-cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
